/* Fonts */
 @font-face {
  font-family:"Roboto";
  src: url(../"fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
 
   }

 @font-face {
  font-family:"Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;

   }

	@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
   
 }

/* Global*/

:root {
--basik-black: #000000;
--light-black: #283136;

--basik-white: #ffffff;

--basik-red:#FB565A;
--hover-red:#E74246;
--active-red:#D7373B;

--basik-green:#00CA74;
--hover-green:#00BC6C;
--active-green:#00AA62;

--basik-yellow:#EFC849;
--hover-yellow:#EAB534;
--active-yellow:#E5A722;

--active-gray:#DFDFDF;
--basik-gray:#EEEEEE;
--light-gray: #444444;
--dark-gray: #666666;
}


.page-body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);
}


.page-body a {
	text-decoration: none;
	color: var(--basik-black);
}

.page-body img {
	max-width: 100%;
	height: auto;
}

/* Grid */
.page {
	height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.page-body {
	min-height: 100%;
}


/* Button */
.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	border: none;
	border-radius: 3px;
	color: var(--basik-white);
}


.button:hover {
	cursor: pointer;
}

.button-text:active {
	opacity: 0.3;
}

.features-button {
	background-color: var(--basik-red);
	width: 240px;
	height: 50px;
}

.features-button:hover {
	background-color: var(--hover-red);
}

.features-button:active {
	background-color: var(--active-red);
}

.button-services {
	width: 160px;
	height: 50px;
}

.button-services-websites {
  background-color: var(--basik-red);
}

.button-services-websites:hover {
  background-color: var(--hover-red);
}

.button-services-websites:active {
  background-color: var(--active-red);
}


.button-services-applications {
	background-color: var(--basik-green);
}

.button-services-applications:hover {
	background-color: var(--hover-green);
}

.button-services-applications:active {
	background-color: var(--active-green);
}

.button-services-presentations {
	background-color: var(--basik-yellow);
} 

.button-services-presentations:hover {
	background-color: var(--hover-yellow);
}

.button-services-presentations:active {
	background-color: var(--active-yellow);
}

.contacts-button {
	width: 240px;
	height: 50px;
	background-color: var(--basik-red);
}

.contacts-button:hover {
	background-color: var(--hover-red);
}

.contacts-button:active {
	background-color: var(--active-red);
}

.modal-button {
	width: 259px;
	height: 50px;
	background-color: var(--basik-red);
}

.modal-button:hover {
	background-color: var(--hover-red);
}

.modal-button:active {
	background-color: var(--active-red);
}


/* catalog - button*/

.filter-button {
	width: 260px;
	height: 50px;
	padding-left: 85px;
	padding-right: 85px;
	background-color: var(--basik-gray);
}

.button-sedona-buy {
	width: 200px;
	height: 50px;
	background-color: var(--basik-red);
}

.button-sedona-buy:hover {
	background-color: var(--hover-red);
}

.button-sedona-buy:active {
	background-color: var(--active-red);
}


.visualy-hidden {
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	border:0;
	padding:0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow:hidden;
}

/* Navigation */

.main-header {
	background-color: var(--basik-gray);

}


.main-header-logo:active{
	opacity: 0.2;
}


.main-navigation-wrapper {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	width: 1158px;
	margin: 0 auto;
	padding: 10px;
}

.main-navigation {
	display: grid;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basik-black);
}

.main-navigation a:hover {
	color: var(--basik-red);
}

.main-navigation a:active {
	color: var(--active-gray);
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 200px;
	min-height: 30px;
}


.site-navigation a,
.user-navigation a {
	display:block;
	padding: 25px 20px;
}

.user-navigation .cart-link {
	position: relative;
	padding-left:50px;
}

.cart-link::before {
	content: "";
	position:absolute;
	width: 15px;
	left: 24px;
	top: 32px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* Container */
.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 10px;
}


/* Features */

.features {
	background-color: var(--basik-gray);
}

.features-container{
	display:grid;
	grid-template-columns: 1fr 2fr;
}

.features-slogan {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basik-black);
}

.features-img {
	background-image: url(../img/nerds-index-slide1.png);
	width: 760px;
	height: 431px;
}

/* Services */

.services {
	margin-top: 80px;
	margin-bottom: 80px;
}

.services-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color:var(--basik-black);
}

.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-item{
	text-align: left;
}

.services-icon-websites {
	background-image: url(../img/illustration-1.png);
	width: 300px;
	height: 146px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: auto;
}

.services-icon-applications {
	background-image: url(../img/illustration-2.png);
	width: 300px;
	height: 146px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: auto;
}

.services-icon-presentations {
	background-image: url(../img/illustration-3.png);
	width: 300px;
	height: 146px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: auto;
}

/* Description */

.description-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 50px;
	margin-top: 50px;
	margin-bottom: 65px;
	padding-top: 36px;
	border-top: 2px solid var(--basik-gray);
}


.description-services-item {
	position:relative;
	margin-bottom: 20px;
	margin-left: -35px;
	padding-left: 35px;
}

.description-services-item::before {
	content:"";
	position:absolute;
	width:25px;
	height:2px;
	left: 0px;
	top: 10px;
	background-color: #FB565A;
}

.description-content-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color:var(--basik-black);
}

.description-content-subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}


.description-logo {
	background-image: url(../img/nerds-illustration_1.png);
	width: 360px;
	height: 208px;
}

.description-features-list {
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	margin: 0;
	list-style:none;
}

.description-features-item {
	font-size: 16px;
	line-height: 18px;
}


.description-numbers {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color:var(--basik-black);
}

/* clients */

.clients-list {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 2px solid var(--basik-gray);
	border-bottom: 2px solid var(--basik-gray);
}

.clients-item {
	position: relative;
	text-align: center;
	padding-top: 52px;
	padding-bottom: 44px;
	opacity: 0.2;
}

.clients-item:not(:last-child)::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 51px;
	right: 10px;
	top: 60px;
	background: #000;
}

.clients-item:hover {
	opacity: 1;
}

.clients-item:active {
	opacity: 0.1;
}

/* page-footer */

.page-footer {
	margin: 0 auto;
	padding: 0 10px;
}

.footer-maps {
	background-image: url(../img/map_1.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 100%;
	height: 416px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	position:relative;
}


.map-marker {
	position:absolute;
	right: 250px;
	top: 82px;
	background-image: url(../img/map-marker_1.png);
	width: 231px;
	height: 190px;
}

.footer-contacts {
	position: absolute;
	top: 60px;
	width: 312px;
	height: 308px;
	background-color: var(--basik-white);
	text-align: center;
}


.footer-social-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}



.footer-contacts-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color:var(--basik-black);
}

.footer-address {
	font-size: 16px;
	line-height: 18px;
	color:var(--dark-gray);
}

.footer-social {
	margin-top: 68px;
	margin-bottom: 68px;
}

.footer-social-title {
	font-size: 36px;
	line-height: 36px;
	color:var(--basik-black);
}

.footer-social-subtitle {
	font-size: 16px;
	line-height: 22px;
	color: var(--light-gray);
}

.footer-social-list {
  display: flex;
	flex-wrap: wrap;
  padding: 0;
  margin: 0;
	list-style: none;
	text-align: center;
}

.social-item {
	padding: 20px;
  margin-right: 9px;
	width: 30px;
	height: 30px;
	background-color: #E1E1E1;
	border-radius: 50%;
	
}

.social-item a {
	display: block;
	padding: 2px 2px;
}


.social-item:hover {
	background-color: var(--hover-red);
}

.social-item:active {
	background-color: var(--active-red);
}

.social-item img:active {
	opacity:0.2;
}

/*Modal*/

.modal {
	position: relative;
	width: 960px;
	height: 590px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	margin: 50px;
}

.modal h2 {
	font-size: 45px;
	line-height: 53px;
	padding-top: 63px;
	padding-left: 100px;
	margin-bottom: 0px;
}

.modal p {
	font-size: 16px;
	line-height: 18px;
}

.mail-form {
	margin-left: 100px;
}

.modal-mail-form {
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-mail-form:hover {
	border-color: #b4b9bb;
}

.modal-mail-form:focus {
	border-color: #000000;
}

.modal-mail-form:invalid {
	border-color: #e74246;
}



.modal-login-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.modal-login {
	margin-right: 36px;
}

.login-input {
	width: 360px;
	height: 50px;
}

.mail-input {
	margin-bottom: 70px;
	width: 760px;
	height: 118px;
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 22px;
	height: 22px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	opacity: 0.5;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.2;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 21px;
	width: 19px;
	height: 3px;
	background-color: #FB565A;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}



/*Разметка файла catalog*/

.page-catalog {
	display: grid;
	grid-template-columns: 260px 1fr;
}

.catalog-title {
	margin-top: -10px;
	padding: 80px;
	text-align: center;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.index-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.container ul {
	list-style: none;
}

/*-- Filters --*/

.filters {
	width: 265px;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	margin-bottom: 35px;
}

.filter-option {
	margin-bottom: 19px;
	padding-left: 10px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

/*--Filter-price--*/

.filter-item {
	margin: 0;
	padding: 0;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
	font-size: 16px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
	font-family: inherit;
	font-size: inherit;
}


/*--Filter-radio--*/

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 4px solid #4D4D4D;
	border-radius: 50%;
}


.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -33px;
	width: 10px;
	height: 10px;
	background-color: #4d4d4d;
	border-radius: 50%;
}

/* --Filter-checkbox --*/
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #4D4D4D;
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -38px;
	width: 21px;
	height: 18px;
	background-image: url("../img/ckeckbox-marker.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


/*-- Catalog --*/
.catalog{
	margin-left: 100px;
}

.catalog-nerds-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.catalog-nerds-item {
	width: 359px;
	min-height: 578px;
	margin-right: 40px;
	margin-bottom: 31px;
	border-top: 40px solid #4d4d4d;
	border-radius: 2px;
}

/*--Pagination--*/

.catalog-pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	text-align: center;
}

.catalog-pagination-item {
	width: 50px;
	height: 50px;
	margin-right: 11px;
	background: #EEEEEE;
	border-radius: 3px;
}

.catalog-pagination-item a{
	display: block;
	padding: 10px 19px;
}


.catalog-pagination-item:hover {
	background-color: #DFDFDF;
}


.catalog-pagination-item:active {
	border: 3px solid #DBDBDB;
	background-color: #fff;
}

.catalog-pagination-item-next {
	width: 260px;
	height: 40px;
	padding-top: 10px;
	background: #EEEEEE;
	border-radius: 3px;
}

.catalog-pagination-item-next:hover {
	background-color: #DFDFDF;
}

.catalog-pagination-item-next:active {
	border: 3px solid #DBDBDB;
	background-color: #fff;
}

.modal-cart {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--basik-gray);
}